<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{myName}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-list *ngFor="let item of todo">
    <ion-item>
      <ion-label>{{ item }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-button (click)="btnClick()">Default</ion-button> 

  <ion-grid>
    <ion-row *ngFor="let item1 of books">
      <ion-col>{{ item1.title }}</ion-col>
      <ion-col>{{ item1.author }}</ion-col>
      <ion-col>{{ item1.description }}</ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

